$ff-roboto = 'Roboto', sans-serif
$ff-playfairdisplay = 'Playfair Display', sans-serif

$c-blue = #3359B9
$c-black = #000
$c-grey = #BDBDBD
$c-white = #fff
$bg-gblue = linear-gradient(265.32deg, #3359B9 1.72%, #487BCE 100%);