mixin result()

    +b('section').result
        +e.wrap
            +e.content
                +e.ellipsis
                    img(src='/images/ellipsis.svg')
                +e('p').title Результат
                +e('h3').answer
                    | С<span>o</span>лн<span>e</span>чн<span>а</span><span>я</span><br>п<span>о</span>г<span>о</span>д<span>а</span>
                    +e('div').span
                +e('p').text Вы рациональная, спокойная и уверенная в себе. Вы принимаете мир вокруг себя таким, какой он есть, и не питаете ложных надежд и иллюзий. В вашей жизни есть место и солнечным, и дождливым дням, но чаще всего обходится без драм и штормовых предупреждений.
                +e.row
                    +e('p').tag Дизайнеры Geox:
                    +e('p').info Модный прогноз на эту осень для вас включает трендовый белый total look, который легко дополнить теплым пуховиком эффектного желтого цвета. Не забудьте о стильной паре кроссовок с интересным декором: такая обувь придаст комплекту динамичности и обеспечит спортивное настроение.
            +e.images
                +e.woman-img
                    img(src=`/images/result-woman-1.png`)
                +e.brand-img
                    img(src='/images/result-1.png')
                +e('p').brand Верхняя одежда и обувь представлены брендом Geox.
            
            +e('span').btn Пройти тест снова
            +e.sharing
                +sharing()